.cakes {
    border-bottom: 50px solid $cream;
}

    .shop-flex {
        @include flex(space-evenly, row);
        background-color: $cream;
    }

    /*------------right---------------------------*/

    .scroll-section-shop {
        @include flex(space-between, row);
        border-right: 100px solid $cream;
        border-left: 100px solid $cream;
        background-color: $cream;
        margin: 0 auto;
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        padding: 1rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
    
        .scroll-images-shop {
          width: 150px;   
          height: auto;
          border-radius: 15px;
        }
    
        .scroll-text-shop {
          @include flex(center, column);
          gap: 25px;
          color: $darkgreen;
        }
    }

  /*------------left---------------------------*/


  .scroll-section-shop-2 {
    @include flex(space-between, row);
align-items: flex-start;
    border-left: 100px solid $cream;
    background-color: $cream;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    height: 270px;

    .scroll-images-shop-2 {
      width: 150px;   
      height: auto;
      border-radius: 15px;
    }

    .scroll-text-shop-2 {
      @include flex(center, column);
      gap: 25px;
      color: $darkgreen;
    }
}

