

@import "./phone";

/*mixins*/

@mixin flex($justify,$direction) {
    display: flex;
    flex-direction: $direction;
    justify-content:$justify;
    align-self: center;
    align-items: center;
}
@mixin sideMargin($top, $bottom) {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin width($width) {
    width: $width;
    height: auto;
}

/*variables*/

$bodyfont: 15px;
$btnfont:12px;


$lightgreen: #B2D5BE;
$darkgreen: #418660;
$cream: #FFF9EE;


/*------------body----------------------------*/

html {
    background-color: $cream;
}

/*------------top-bar-------------------------*/

.top-bar {
    @include flex(space-between, row);
    border-left: 100px solid $cream;
    border-right: 100px solid $cream;
    background-color: $cream;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    margin: 25px 0 0 0;
    height: 60px;
    max-width: 100%;

    .icons {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      height: 30px;
      gap: 20px;
      width: 50px;
    }

    .icons2 {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        height: 30px;
        gap: 20px;
        width: 50px;
      }

    .main-title {
        flex: 1;
        width: 20vw;
        height: auto;
        display: flex;
        align-self: center;
    }  
}

/*------------nav-bar-------------------------*/

.nav-bar {
    @include flex(space-between, row);
    list-style: none;
    width: 100%;
    color: $darkgreen;
    font-weight: bold;
    background-color: $cream;
   
     .vert-lines {
     border: 0;
     clear:both;
     display:block;
     width: 1px;               
     background-color:#000000;
     height: 75px;
     @include sideMargin(5vh, 5vh);
   }
}

.horiz-lines {
    border: 0;
    clear:both;
    display:block;
    width :auto;           
    background-color:#000000;
    height: 1px;
    border-top: 50px solid $cream;
    border-bottom: 50px solid $cream;
    border-left: 100px solid $cream;
    border-right: 100px solid $cream;
    margin: 0px 0px 0px 0px;
}

/*------------hero---------------------------*/

.hero {
    @include flex(center, row);
    background-color: $lightgreen;

    .hero-left {
        flex: 1;
        @include flex(space-between, column);
        align-items: flex-start;
        width: 100%;

        .hero-text {
            @include sideMargin(1vh, 1vh);
            color: $darkgreen;

            button {
                background-color: $darkgreen;
                border: 1px solid $lightgreen;
                color: $lightgreen;
                font-size: $btnfont;
                height: 5vh;
                width: 10vw;
                margin-top: 10px;
                border-radius: 5px;
            }
        }
    }
    .hero-right {
        flex: 1;
        @include flex(center, row);

        #sunset-img {
            height: auto;
            width: 100%;
        }
    }
}

/*------------moving-section-----------------*/

.scroll-slow {
    height: 20vh;	
    width:auto;
    overflow: hidden;
    position: relative;
    background: $darkgreen;
    color: $lightgreen;
    @include flex(space-between, row);
    align-items: center;
   }
   .scroll-slow p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 20vh;
    font-size: 5vw;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-slow 12s linear infinite;
    -webkit-animation: scroll-slow 12s linear infinite;
    animation: scroll-slow 12s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-slow {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll-slow {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }

/* Browser bug fix */
   @keyframes scroll-slow {
    0%   { 
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%); 
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); 
    }
   }

/*------------mums-section-----------------------*/

.mums-section {
    border-left: 100px solid $cream;
    border-right: 100px solid $cream;
    background-color: $cream;
}

.mamas-title {
    text-align: center;
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 186px;
    padding-top: 50px;
}

.mums-baking {
    @include flex(center, column);

    #shop-img {
        height: auto;
        width: 100%;
        border-radius: 15px;
    }

    #shop-now {
        @include flex(center, row);
        align-self: start;
        background-color: $darkgreen;
                border: 1px solid $lightgreen;
                color: white;
                font-size: $btnfont;
                height: 5vh;
                width: 10vw;
                margin-top: 10px;
                border-radius: 5px;
    }

    .mums-info {
        @include flex(space-between, row);
        gap: 5vw;
        width: 100%;
        border-bottom: 50px solid $cream;
        border-top: 50px solid $cream;
        margin: 0;
        padding: 0;
    }

    .croissont {
        height: 5vh;
        width: auto;
    }
}

.croissont {
    height: 5vh;
    width: auto;
}

/*------------scroll-section----------------------*/

.scroll-section {
    @include flex(space-between, row);
    border-right: 100px solid $lightgreen;
    border-left: 100px solid $lightgreen;
    background-color: $lightgreen;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    padding: 50px 0px 50px 0px;

    .scroll-images {
      width: 20vw;   
      height: 35vh;
      border-radius: 15px;
    }

    .scroll-text {
      @include flex(center, column);
      padding: 10px 0 10px 0;
      gap: 25px;
      color: $darkgreen;
    }
}

/*------------article----------------------------*/

.double-img {
    @include flex(space-between, row);
    background-color: $cream;
    border-left: 100px solid $cream;
    border-right: 100px solid $cream;
    padding:50px 0px 0px 0px;
    
    .double-image-inner {
      @include flex(space-evenly, column);
      align-items: flex-start;
      width: 30vw;

      .bla-img {
        width: 30vw;
        height: 30vw;
        border-radius: 15px
      }
    }  
}

.location {
    @include flex(space-between, row);
    border-left: 100px solid $cream;
    border-right: 100px solid $cream;
    background-color: $cream;
    gap: 50px;

    .location-text {
        @include flex(space-between, column);
        align-items: flex-start;
        background-color: $cream;   
        width: 50vw;   
    }

    .loc-img {
        width: 50vw;
        height: 30vw;
        border-radius: 15px;
    }

}

.ng {
    @include flex(space-between, column);
    align-items: center;
    border-left: 100px solid $cream;
    border-right: 100px solid $cream;
    background-color: $cream;

    .ng-img {
        height:150px;
        width: 100%;
        margin: 25px 0px 25px 0px;
    }
}

.h3-bottom {
    font-size: 50px;
    font-weight: bold;
}

.h4-bottom {
    font-size: 50px;
    font-weight: bold;
}

.squiggle {
    border-left: 100px solid $cream;
    border-right: 100px solid $cream;
    width: 100%;
    border-bottom: 50px solid $cream;
    border-top: 50px solid $cream;
}

/*------------mail-list---------------------------*/

.h6-bottom {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: $cream;
    margin: 0px;
    border-top: 50px solid $cream;
}

.mail-info {
    @include flex(space-between, row);
    gap: 50px;
    background-color: $cream;
    border-left: 100px solid $cream;
    border-right: 100px solid $cream;
    padding: 50px 0px 50px 0px;

    .mail-text {
    width: 10vw;
    }
}

.email-form {
    text-align: center;
    border-left: 100px solid $cream;
    border-right: 100px solid $cream;
    border-bottom: 100px solid $cream;
    @include flex(center, row );
    height: 3vh;
    background-color: $cream;
    
    #email-input {
        background-color: $cream;
                border: 1px solid black;
                color: black;
                font-size: 25px;
                height:44px;
                
    }

    button {
        background-color: $cream;
                border: 1px solid black;
                color: black;
                font-size: 25px;
    }
}

/*------------footer---------------------------*/

.footer-section {
    @include flex(space-between, row);
    border-top: 50px solid $cream;
    padding: 50px 100px 50px 100px;
    background-color: $lightgreen;
    gap: 50px;

    .footer-mid {
        @include flex(space-between, column);
        align-items: flex-start;
        width: 25vw;
        color: $darkgreen;

        .foot-p {
            font-weight: bold;
        }
    }
}

/*------------Iphone(600px)---------------------*/


@media only screen and (max-width: 767px) {

    /*--[ Mobile styles go here]---------------------------*/

    .top-bar {
        @include flex(space-between, row);
        border-left: 25px solid $cream;
        border-right: 25px solid $cream;
        margin: 25px 0 0 0;
        height: 60px;
        width: 100%;
    
        .icons {
        display: none;
        }
    
        .icons2 {
            height: 20px;
            width: 50px;
          }
    
        .main-title {
            width: 50vw;
        }  
    }

    /*------------nav-bar-------------------------*/

    .nav-bar {
      display: none;
       
         .vert-lines {
           display: none;
       }
    }

        /*------------hero-------------------------*/
    
    .hero {
        @include flex(center, column);
    
        .hero-left {
            width: 100%;
    
            .hero-text {
                border-left: 25px solid $lightgreen;
                border-right: 25px solid $lightgreen;
                border-top: 25px solid $lightgreen;
                border-bottom: 25px solid $lightgreen;
                margin: 0px 0px 0px 0px;
    
                button {
                    width: 100%;
                }
            }
        }
    
        #sunset-img {
            width: 100%
       }
    }


 /*------------moving-section-----------------*/

 .scroll-slow {
    height: 10vh;	
   }
   .scroll-slow p {
    position:absolute;
    line-height: 10vh;
   }

 /*------------mums-section-----------------------*/

 .mums-section {
    border-left: 25px solid $cream;
    border-right: 25px solid $cream;
 }

 .mamas-title {
    font-size: 150px;
    padding-top: 25px;
    line-height: 140px;
 }

 .mums-baking {

    #shop-now {
        height: 5vh;
        width: 100%;
    }

    .mums-info {
        @include flex(space-between, column);
        gap: 5vw;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .croissont {
        height: 5vh;
        width: auto;
    }
  }

  /*------------scroll-section----------------------*/

  .scroll-section {
      border-right: 25px solid $lightgreen;
      border-left: 25px solid $lightgreen;
  
      .scroll-images {
        width: 40vw;   
        height: auto;
      }
  
      .scroll-text {

        p {
            display: none;
        }

      }
    }
  
/*------------article----------------------------*/

.double-img {
    @include flex(space-between, column);
    border-left: 25px solid $cream;
    border-right: 25px solid $cream;
    padding: 10px 0px 0px 0px;
    gap: 50px;
    
    .double-image-inner {
      width: 100%;
      border-top: 25px solid $cream;

      .bla-img {
        width: 100%;
        height: auto;
        padding-top: 10px;
      }
    }  
}

.location {
    @include flex(space-between, column);
    border-left: 25px solid $cream;
    border-right: 25px solid $cream;
    gap: 10px;

    .location-text {
        @include flex(space-between, column);
        align-items: flex-start;
        width: 100%;   
    }

    .loc-img {
        width: 100%;
        height: auto;
    }

}

.ng {
    @include flex(space-between, column);
    align-items: center;
    border-left: 25px solid $cream;
    border-right: 25px solid $cream;

    .ng-img {
        height:auto;
        width: 100%;
        padding: 25px 0px 25px 0px;
    }
}

.h3-bottom {
    font-size: 68px;
    font-weight: bold;
}

.h4-bottom {
    font-size: 68px;
    font-weight: bold;
}

.squiggle {
    border-left: 25px solid $cream;
    border-right: 25px solid $cream;
    width: 100%;
}

/*------------mail-list---------------------------*/

.h6-bottom {
    text-align: center;
    font-size: 68px;
    border-top: 25px solid $cream;
}

.mail-info {
    @include flex(space-between, column);
    gap: 5px;
    border-left: 25px solid $cream;
    border-right: 25px solid $cream;
    padding: 25px 0px 50px 0px;

    .mail-text {
    width: 100%;
    }
}

.email-form {
    text-align: center;
    border-left: 25px solid $cream;
    border-right: 25px solid $cream;
    border-bottom: 75px solid $cream;
    
    #email-input {
                width: 100%;
                
    }
}

/*------------footer---------------------------*/

.footer-section {
    @include flex(space-between, column);
    padding: 25px 25px 25px 25px;
    gap: 10px;

    .footer-mid {
        @include flex(space-between, column);
        align-items: flex-start;
        width: 100%;
        color: $darkgreen;

        .foot-p {
            font-weight: bold;
        }
    }

    .mid-logo {
        width: 50%;
    }
}

}