/*mixins*/
/*variables*/
/*------------body----------------------------*/
html {
  background-color: #FFF9EE;
}

/*------------top-bar-------------------------*/
.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 100px solid #FFF9EE;
  border-right: 100px solid #FFF9EE;
  background-color: #FFF9EE;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 25px 0 0 0;
  height: 60px;
  max-width: 100%;
}

.top-bar .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 30px;
  gap: 20px;
  width: 50px;
}

.top-bar .icons2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 30px;
  gap: 20px;
  width: 50px;
}

.top-bar .main-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 20vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

/*------------nav-bar-------------------------*/
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
  color: #418660;
  font-weight: bold;
  background-color: #FFF9EE;
}

.nav-bar .vert-lines {
  border: 0;
  clear: both;
  display: block;
  width: 1px;
  background-color: #000000;
  height: 75px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.horiz-lines {
  border: 0;
  clear: both;
  display: block;
  width: auto;
  background-color: #000000;
  height: 1px;
  border-top: 50px solid #FFF9EE;
  border-bottom: 50px solid #FFF9EE;
  border-left: 100px solid #FFF9EE;
  border-right: 100px solid #FFF9EE;
  margin: 0px 0px 0px 0px;
}

/*------------hero---------------------------*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #B2D5BE;
  height: 601px;
}

.hero #sun {
  display: none;
}

.hero .hero-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.hero .hero-left .hero-text {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: #418660;
}

.hero .hero-left .hero-text .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "HelveticaNeue-CondensedBold";
}

.hero .hero-left .hero-text .welcome .welcome-text {
  font-size: 90px;
}

.hero .hero-left .hero-text .welcome .croissont2 {
  height: 8vh;
  width: auto;
}

.hero .hero-left .hero-text .welcome .welcome-under {
  font-size: 18px;
}

.hero .hero-left .hero-text .button1 {
  background-color: #418660;
  border: 1px solid #418660;
  color: #B2D5BE;
  font-size: 13px;
  height: 5vh;
  width: 10vw;
  margin-top: 10px;
  border-radius: 5px;
}

.hero .hero-left .hero-text .button1:hover {
  background-color: #B2D5BE;
  border: 2px solid #418660;
  color: #418660;
  font-size: 13px;
}

.hero .hero-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-right #sunset-img {
  height: 601px;
  width: 100%;
}

/*------------moving-section-----------------*/
.scroll-slow {
  height: 20vh;
  width: auto;
  overflow: hidden;
  position: relative;
  background: #418660;
  color: #B2D5BE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.scroll-slow p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 20vh;
  font-size: 5vw;
  /* Starting position */
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -webkit-animation: scroll-slow 12s linear infinite;
  animation: scroll-slow 12s linear infinite;
}

/* Move it (define the animation) */

@-webkit-keyframes scroll-slow {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

/* Browser bug fix */
@keyframes scroll-slow {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/*------------mums-section-----------------------*/
.mums-section {
  border-left: 100px solid #FFF9EE;
  border-right: 100px solid #FFF9EE;
  background-color: #FFF9EE;
}

.mamas-title {
  text-align: center;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 186px;
  padding-top: 50px;
}

.mums-baking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mums-baking #shop-img {
  height: auto;
  width: 100%;
  border-radius: 15px;
}

.mums-baking .button2 {
  background-color: #418660;
  border: 1px solid #418660;
  color: #FFF9EE;
  font-size: 13px;
  height: 5vh;
  width: 10vw;
  margin-top: 10px;
  border-radius: 5px;
}

.mums-baking .button2:hover {
  background-color: #FFF9EE;
  border: 2px solid #418660;
  color: #418660;
  font-size: 13px;
}

.mums-baking .mums-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5vw;
  width: 100%;
  border-bottom: 50px solid #FFF9EE;
  border-top: 50px solid #FFF9EE;
  margin: 0;
  padding: 0;
}

.mums-baking .mums-text {
  width: 70vw;
}

.mums-baking .pie {
  height: 9vh;
  width: auto;
}

.croissont {
  height: 5vh;
  width: auto;
}

/*------------scroll-section----------------------*/
.scroll-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 100px solid #B2D5BE;
  border-left: 100px solid #B2D5BE;
  background-color: #B2D5BE;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding: 50px 0px 50px 0px;
}

.scroll-section .scroll-images {
  width: 20vw;
  height: 35vh;
  border-radius: 15px;
}

.scroll-section .scroll-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 0;
  gap: 25px;
  color: #418660;
}

/*------------article----------------------------*/
.double-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF9EE;
  border-left: 100px solid #FFF9EE;
  border-right: 100px solid #FFF9EE;
  padding: 50px 0px 0px 0px;
}

.double-img .double-image-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30vw;
}

.double-img .double-image-inner .bla-img {
  width: 30vw;
  height: 30vw;
  border-radius: 15px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 100px solid #FFF9EE;
  border-right: 100px solid #FFF9EE;
  background-color: #FFF9EE;
  gap: 50px;
}

.location .location-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #FFF9EE;
  width: 50vw;
}

.location .loc-img {
  width: 50vw;
  height: 30vw;
  border-radius: 15px;
}

.ng {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  border-left: 100px solid #FFF9EE;
  border-right: 100px solid #FFF9EE;
  background-color: #FFF9EE;
}

.ng .ng-img {
  height: 150px;
  width: 100%;
  margin: 25px 0px 25px 0px;
}

.h3-bottom {
  font-size: 50px;
  font-weight: bold;
}

.h4-bottom {
  font-size: 50px;
  font-weight: bold;
}

.squiggle {
  border-left: 100px solid #FFF9EE;
  border-right: 100px solid #FFF9EE;
  width: 100%;
  border-bottom: 50px solid #FFF9EE;
  border-top: 50px solid #FFF9EE;
}

/*------------mail-list---------------------------*/
.h6-bottom {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  background-color: #FFF9EE;
  margin: 0px;
  border-top: 50px solid #FFF9EE;
}

.mail-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
  background-color: #FFF9EE;
  border-left: 100px solid #FFF9EE;
  border-right: 100px solid #FFF9EE;
  padding: 50px 0px 50px 0px;
}

.mail-info .mail-list {
  width: 60vw;
}

.email-form {
  text-align: center;
  border-left: 100px solid #FFF9EE;
  border-right: 100px solid #FFF9EE;
  border-bottom: 100px solid #FFF9EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3vh;
  background-color: #FFF9EE;
}

.email-form #email-input {
  background-color: #FFF9EE;
  border: 1px solid black;
  color: black;
  font-size: 25px;
  height: 44px;
}

.email-form .button3 {
  background-color: #FFF9EE;
  border: 1px solid black;
  color: black;
  font-size: 25px;
}

.email-form .button3:hover {
  background-color: black;
  border: 1px solid black;
  color: #FFF9EE;
  font-size: 25px;
}

/*------------footer---------------------------*/
.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 50px solid #FFF9EE;
  padding: 50px 100px 50px 100px;
  background-color: #B2D5BE;
  gap: 50px;
}

.footer-section .footer-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 25vw;
  color: #418660;
}

.footer-section .footer-mid .foot-p {
  font-weight: bold;
}

/*--[ Mobile styles go here]---------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 25px solid #FFF9EE;
    border-right: 25px solid #FFF9EE;
    margin: 25px 0 0 0;
    height: 60px;
    width: 100%;
  }
  .top-bar .icons {
    display: none;
  }
  .top-bar .icons2 {
    height: 20px;
    width: 50px;
  }
  .top-bar .main-title {
    width: 50vw;
  }
  /*------------nav-bar-------------------------*/
  .nav-bar {
    display: none;
  }
  .nav-bar .vert-lines {
    display: none;
  }
  /*------------hero-------------------------*/
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero #sun {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .hero-left {
    width: 100%;
  }
  .hero .hero-left .hero-text {
    border-left: 25px solid #B2D5BE;
    border-right: 25px solid #B2D5BE;
    border-top: 25px solid #B2D5BE;
    border-bottom: 25px solid #B2D5BE;
    margin: 0px 0px 0px 0px;
  }
  .hero .hero-left .hero-text .button1 {
    width: 100%;
    margin-bottom: 25px;
  }
  .hero .hero-left .hero-text .button1:hover {
    height: 5vh;
    width: 100%;
  }
  .hero #sunset-img {
    display: none;
  }
  /*------------moving-section-----------------*/
  .scroll-slow {
    height: 10vh;
  }
  .scroll-slow p {
    position: absolute;
    line-height: 10vh;
  }
  /*------------mums-section-----------------------*/
  .mums-section {
    border-left: 25px solid #FFF9EE;
    border-right: 25px solid #FFF9EE;
  }
  .mamas-title {
    font-size: 150px;
    padding-top: 25px;
    line-height: 140px;
  }
  .mums-baking .button2 {
    margin-bottom: 25px;
    height: 5vh;
    width: 91vw;
  }
  .mums-baking .button2:hover {
    margin-bottom: 25px;
    height: 5vh;
    width: 91vw;
  }
  .mums-baking .mums-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5vw;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .mums-baking .croissont {
    height: 5vh;
    width: auto;
  }
  /*------------scroll-section----------------------*/
  .scroll-section {
    border-right: 25px solid #B2D5BE;
    border-left: 25px solid #B2D5BE;
  }
  .scroll-section .scroll-images {
    width: 40vw;
    height: auto;
  }
  .scroll-section .scroll-text p {
    display: none;
  }
  /*------------article----------------------------*/
  .double-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 25px solid #FFF9EE;
    border-right: 25px solid #FFF9EE;
    padding: 10px 0px 0px 0px;
    gap: 50px;
  }
  .double-img .double-image-inner {
    width: 100%;
    border-top: 25px solid #FFF9EE;
  }
  .double-img .double-image-inner .bla-img {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 25px solid #FFF9EE;
    border-right: 25px solid #FFF9EE;
    gap: 10px;
  }
  .location .location-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .location .loc-img {
    width: 100%;
    height: auto;
  }
  .ng {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
    border-left: 25px solid #FFF9EE;
    border-right: 25px solid #FFF9EE;
  }
  .ng .ng-img {
    height: auto;
    width: 100%;
    padding: 25px 0px 25px 0px;
  }
  .h3-bottom {
    font-size: 68px;
    font-weight: bold;
  }
  .h4-bottom {
    font-size: 68px;
    font-weight: bold;
  }
  .squiggle {
    border-left: 25px solid #FFF9EE;
    border-right: 25px solid #FFF9EE;
    width: 100%;
  }
  /*------------mail-list---------------------------*/
  .h6-bottom {
    text-align: center;
    font-size: 68px;
    border-top: 25px solid #FFF9EE;
  }
  .mail-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    border-left: 25px solid #FFF9EE;
    border-right: 25px solid #FFF9EE;
    padding: 25px 0px 50px 0px;
  }
  .mail-info .mail-text {
    width: 100%;
  }
  .email-form {
    text-align: center;
    border-left: 25px solid #FFF9EE;
    border-right: 25px solid #FFF9EE;
    border-bottom: 75px solid #FFF9EE;
  }
  .email-form #email-input {
    width: 100%;
  }
  /*------------footer---------------------------*/
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 25px 25px 25px;
    gap: 10px;
  }
  .footer-section .footer-mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    color: #418660;
  }
  .footer-section .footer-mid .foot-p {
    font-weight: bold;
  }
  .footer-section .mid-logo {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */